:root {
    /* --primaryColor: #2da8ef; */
    --primaryColor: #005598;
    --white: rgb(251, 253, 253);
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}





/* ****************** DESKTOP default */

.isMobile {
    display: none;
}
.isDesktop {
    display: block;
}



body {
    height: 120vh;
    margin: 0;
    padding: 0;

    position: relative;

    /* overflow: hidden; */

    background-color: var(--white);
    animation: bodyBgColorFadeIn 1.5s 1.7s ease forwards, animBg 15s 3.2s ease infinite;
}
@keyframes bodyBgColorFadeIn {
    from {
        background-color: var(--white);
    }
    to {
        background-color: var(--primaryColor);
    }
}
@keyframes animBg {
    0% {
        background-color: var(--primaryColor);
    }
    33% {
        background-color: #00569882;
    }
    66% {
        background-color: #00569882;
    }
    100% {
        background-color: var(--primaryColor);
    }
}

.bonjourBackgroundImg {
    position: absolute;
    width: 100%;
    height: inherit;

    opacity: 0;
    animation: fadeInBgImg 0.8s 0s ease forwards;
}
@keyframes fadeInBgImg {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.4;
    }
}

.hotAirBallonImg {
    position: absolute;
    height: 100px;
    filter: drop-shadow(2px 1px 2px #1f69a9);

    right: 80px;
    bottom: 300px;
    opacity: 0;

    animation: hotAirBallonAnim 35s 3s ease forwards 1, fixedBallon 5.5s 38s ease-in-out infinite;
}
@keyframes hotAirBallonAnim {
    0% {
        opacity: 0;
        /* filter: blur(1px); */
        bottom: 300px;
        right: 80px;
    }
    10% {
        opacity: 1;
        /* filter: blur(0px); */
        right: 110px;
    }
    20% {
        opacity: 0.8;
        /* filter: blur(1px); */
        right: 80px;
    }
    30% {
        opacity: 1;
        /* filter: blur(0px); */
        right: 110px;
    }
    40% {
        opacity: 0.8;
        /* filter: blur(1px); */
        right: 80px;
    }
    50% {
        opacity: 1;
        /* filter: blur(0px); */
        right: 110px;
    }
    60% {
        opacity: 0.8;
        /* filter: blur(1px); */
    
        right: 80px;
    }
    70% {
        opacity: 1;
        /* filter: blur(0px); */
        right: 110px;
    }
    80% {
        opacity: 0.8;
        /* filter: blur(1px); */
        right: 80px;
    }
    90% {
        opacity: 1;
        /* filter: blur(0px); */
        right: 110px;
    }
    100% {
        opacity: 0.95;
        /* filter: blur(1px); */
        bottom: 700px;

        right: 110px;
    }
}
@keyframes fixedBallon {
    0% {
        right: 110px;
        bottom: 700px;
    }
    25% {
        
    }
    50% {
        /* right: 90px; */
        bottom: 680px;
    }
    75% {
    }
    100% {
        right: 110px;
        bottom: 700px;
    }
}


.planeImg {
    position: absolute;
    width: 75px;
    opacity: 0;
    right: 0;
    top: 70%;
    filter: drop-shadow(1px 1px 1px #1f69a9);

    animation: planeMove 27s 2s linear forwards infinite;
}
@keyframes planeMove {
    0% {
        opacity: 0;
        top: 70%;
        right: 0;
    }
    10% {
        opacity: 0.9;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        top: 20%;
        right: 120%;
    }
}


.forestPng {
    position: absolute;
    width: 100%;
    z-index: 10;
    bottom: 0;
    left: 0;
    
    opacity: 0;
    animation: fadeInForest 1.5s 0.7s ease forwards;
}
@keyframes fadeInForest {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}



a {
    text-decoration: none;
}



.wrapper {
    position: relative;
    z-index: 15;
    /* top: 35%;
    left: 50%;
    transform: translate(-50%, -65%); */
    left: 50%;
    transform: translateX(-50%);

    /* padding: 100px 0px; */
    margin: 50px 0px 30px 0px;


    display: inline-flex;
    align-items: baseline;
}

.disclaimer {
    position: relative;
    z-index: 15;
    color: white;
    text-align: center;
    width: 100%;
}

.sectionPresentation {
    font-family: Open Sans,sans-serif;
    position: relative;
    z-index: 11;
    /* bottom: 50px; */

    width: 80%;
    margin: 0 auto;

    opacity: 0;
    animation: fadeInSectionPresentation 1s 2.5s ease forwards;
}
@keyframes fadeInSectionPresentation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.bonjourSvgContainer {
    width: 250px;
    height: 250px; 

    border-bottom-left-radius: 21px;

    animation: dropShadow 0.5s 2s ease forwards;

}
@keyframes dropShadow {
    from {
        filter: none;
    }
    to {
        filter: drop-shadow(1px 1px 2px #1f69a9);
    }
}

.basileSvgContainer {
    /* width: 250px;
    height: 250px;  */

    width: 19px;
    height: 18px;
    border-bottom-left-radius: 0px;

    transform: translateY(1px);
    margin-left: 3px;
}


.bonjourSvgPath {
    opacity: 1;
    /* transform: scale(10); */

    fill: none; 
    stroke: var(--primaryColor); 
    stroke-width: 20; 
    stroke-linecap: square; 
    stroke-linejoin:  miter; 
    stroke-miterlimit: 4;
    transition: stroke 0.8s ease;

    animation: logoColorSwitch 1.5s 1.7s ease forwards;
}



.basileSvgPath {
    opacity: 1;
    /* transform: scale(10); */

    fill: none; 
    stroke: var(--white); 
    stroke-width: 2px; 
    stroke-linecap: square; 
    stroke-linejoin:  miter; 
    stroke-miterlimit: 4;
    transition: stroke 0.8s ease;

    
    /* animation: logoColorSwitch 1.5s 1.7s ease forwards; */
}


@keyframes logoColorSwitch {
    from {
        stroke: var(--primaryColor); 
    }
    to {
        /* stroke: var(--white);  */
        stroke: #ffc862;
    }
}


.extensionFunTitle {
    color: #ffcb6c;
    font-family: Open Sans,sans-serif;
    position: relative;
    bottom: 13px;
    right: 35px;
    letter-spacing: 1px;
    font-size: 2em;

    opacity: 0;
    animation: fadeIn 1s 2.7s ease forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.bonjourTxt {
    position: relative;
    right: 70px;
    bottom: 13px;
    
    filter: blur(7px);
    opacity: 0;

    font-size: 7.5em;
    letter-spacing: 1px;
    color: var(--primaryColor);
    font-family: Open Sans,sans-serif;

    width: 0px;
    display: block;
    overflow: hidden;

    text-shadow: 2px 2px #e09000;

    animation: fadeInText 1.5s 1.7s ease forwards;
}


@keyframes fadeInText {
    from {
        filter: blur(7px);
        opacity: 0;
        right: 70px;
        width: 0px;

        color: var(--primaryColor);
    }
    to {
        filter: blur(0px);
        opacity: 1;
        right: -10px;
        width: 390px;

        color: var(--white);
    }
}



.presentationParagraph {
    font-family: Open Sans,sans-serif;
    color: var(--white);
    width: 80%;
    margin: 0 auto;
    text-align: left;

    background-color: #194e7dc9;
    padding: 13px 17px;
    border-radius: 12px;
    box-shadow: 3px 3px 1px 1px #deb873;
}

.wrapperName {
    display: inline-flex;
    align-items: baseline;
}




strong {
    color: #ffcb6c;
}




.socialsDiv {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    font-size: 2em;
    margin-bottom: 50px;
}






.portfolioLink {
    position: relative;
    color: #1e356b;
    margin: 40px auto 30px auto;
    width: fit-content;
    padding: 14px 16px;
    background-color: #ffc862;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-weight: bold;
    box-shadow: 5px 5px #002a4c;

    /* border: 1px solid #2892cf; */

    transition: all 0.3s;
}
.portfolioLink:hover {
    color: #ffc862;
    background-color: #1e356b;
    letter-spacing: 1px;

    box-shadow: 5px 5px #ffc862;
}


.socialBtn {
    color: var(--white);

    transition: all 0.3s;
}
.socialBtn:hover {
    color: #ffc862;
    transform: scale(1.3);
}



/* *********************** MEDIA QUERIES PHONE */

@media only screen and (max-width: 600px) {

    .isMobile {
        display: block;
    }
    .isDesktop {
        display: none;
    }

    body {
        height: 150vh;
    }

    .bonjourBackgroundImg {
        object-fit: cover;
    }

    .extensionFunTitle {
        color: #ffcb6c;
        font-family: Open Sans,sans-serif;
        position: absolute;
        bottom: 7px;
        right: 19px;
        text-shadow: 0px 0px 2px #0000008f;
        letter-spacing: 1px;
        font-size: 1.5em;
        opacity: 0;

        animation: fadeIn 1s 2.7s ease forwards;
    }

    .forestPng {
        width: auto;
        object-fit: cover;
    }

    .wrapper {
        position: relative;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -0%);
        padding: 15px 0px 15px 0px;

    }



    .sectionPresentation {
        position: relative;
        /* bottom: 50px; */
        /* bottom: 130px; */
        bottom: 0;

        width: 100%;
    }


    .bonjourSvgContainer {
        width: 130px;
        height: 130px; 

        animation: dropShadow 0.5s 2s ease forwards;
    }
    @keyframes dropShadow {
        from {
            filter: none;
        }
        to {
            filter: drop-shadow(1px 2px 3px black);
        }
    }


    .basileSvgContainer {
        /* width: 130px;
        height: 130px;  */
        width: 17px;
        height: 18px;
        border-bottom-left-radius: 0px;

        transform: translateY(1px);
        margin-left: 3px;
    }


    .bonjourSvgPath {
        stroke-width: 11;
    }

    .basileSvgPath {
        stroke-width: 2px;
        transform: rotateY(25deg);
    }

    .bonjourTxt {
        font-size: 3.5em;
    }



    @keyframes fadeInText {
        from {
            filter: blur(7px);
            opacity: 0;
            right: 70px;
            width: 0px;
    
            color: var(--primaryColor);
        }
        to {
            filter: blur(0px);
            opacity: 1;
            right: -3px;
            width: 180px;
    
            color: var(--white);
        }
    }



    .presentationParagraph {
        font-family: Open Sans,sans-serif;
        color: var(--white);
        width: 80%;
        margin: 0 auto;
        text-align: justify;

        background-color: #194e7de8;
        padding: 13px 15px;
        border-radius: 12px;
    }


    .portfolioLink {
        position: relative;
        margin: 40px auto 40px auto;
        width: fit-content;
        /* padding: 10px 16px; */
        padding: 14px 16px;
        background-color: #ffc862;
        border-radius: 5px;
        display: block;
        text-align: center;
        font-weight: bold;
    }






}












/* 2K FHD */
@media only screen and (min-width: 1300px) {

    .presentationParagraph {
        width: 65%;
    }

}